<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="AnimeWallpaper"
        android:supportsRtl="true">
        <activity android:name=".SettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".WallpaperProviderService"
            android:exported="true"
            android:label="AnimeWallpaper">
            <intent-filter>
                <action android:name="tv.projectivy.plugin.WALLPAPER_PROVIDER" />
            </intent-filter>
            <meta-data android:name="apiVersion" android:value="1" />
            <meta-data android:name="uuid" android:value="ecd5d719-49e7-4df0-b408-e31bbd9d2559" />
            <meta-data android:name="name" android:value="AnimeWallpaper" />
            <meta-data android:name="settingsActivity" android:value=".SettingsActivity" />
            <meta-data android:name="itemsCacheDurationMillis" android:value="1800000" />
        </service>
    </application>
</manifest>
